.post-body
  margin-top: 8px

.post-date
  font-size: 14px

#header
  padding: 24px 8px 24px 0px
  text-align: right
  border-bottom: 1px solid #000
  margin-bottom: 10px

  a
    font-size: 48px
    font-weight: bold
    color: #000
    text-decoration: none

    &:visited
      color: #000

#footer
  font-size: 12px
  text-align: center
  border-top: 1px solid #000
  margin: 6px 0px 0px 0px
  padding: 6px 0px 0px 0px


#sidebar
  ul
    margin-top: 12px

    li
      list-style: none

.post-preview
  .date-stamp
    color: #666


@media only screen and (max-width: 767px)
  #content
    border-bottom: 1px solid #000
    margin-bottom: 6px

  #sidebar
    padding-top: 6px

.footnotes
  font-size: 14px

  p
    font-style: italic


a[rel=footnote]
  vertical-align: super
  font-size: 70%
  text-decoration: none
  font-style: normal

  &:before
    content: "["

  &:after
    content: "]"
