body
  background-color: #ddd

  div
    background-color: #fff

.post-body
  margin-top: 8px

.post-date
  font-size: 14px
  background-color: #666
  color: #fff
  padding-top: 4px
  padding-bottom: 4px

ol
  li
    margin-left: 36px

#header
  padding-bottom: 18px
  border-bottom: 1px solid #000
  margin-bottom: 10px

  a
    font-size: 96px
    font-weight: bold
    color: #000
    text-decoration: none

    &:visited
      color: #000

#footer
  font-size: 12px
  text-align: center
  border-top: 1px solid #000
  margin: 6px 0px 0px 0px
  padding: 6px 0px 0px 0px


#sidebar
  ul
    margin-top: 12px

    li
      list-style: none

.post-preview
  border-bottom: 1px solid #000
  margin-bottom: 10px

  .date
    font-size: 12px

@media only screen and (max-width: 767px)
  #content
    border-bottom: 1px solid #000
    margin-bottom: 6px

  #sidebar
    padding-top: 6px

.footnotes
  font-size: 14px

  p
    font-style: italic


a[rel=footnote]
  vertical-align: super
  font-size: 70%
  text-decoration: none
  font-style: normal

  &:before
    content: "["

  &:after
    content: "]"
