---
layout: default
title: boxcarsurgery.com
---

{% for post in site.posts %}
.row
  .large-12.columns.post-preview
    .date
      = "{{ post.date | date: '%Y/%m/%d' }}"

    %h2
      %a{:href => "{{ post.url }}"} {{ post.title }}
{% endfor %}
