@import "bootstrap"

$borders: #cccccc
$default_font_size: 16px

=rounded($radius, $hside, $vside)
  border-#{$hside}-#{$vside}-radius: $radius
  -moz-border-radius-#{$hside}#{$vside}: $radius
  -webkit-border-#{$hside}-#{$vside}-radius: $radius

=round-corners
  +rounded(15px, top, left)
  +rounded(15px, top, right)
  +rounded(15px, bottom, left)
  +rounded(15px, bottom, right)

body
  font-family: Helvetica, sans-serif
  font-size: $default_font_size

  p
    font-size: $default_font_size

  blockquote
    font-style: italic
    margin-left: 20px
  #header
    margin-top: 10px
    font-size: 32px
    padding: 0px 0px 20px 0px
    text-align: right
    font-weight: bold
    a
      text-decoration: underline
      color: #000
      &:hover
        color: #ddd
  #footer
    font-size: 10px
    text-align: center
    border-top: 1px solid $borders
    margin-top: 4px

.post-preview
  margin-bottom: 4px
  padding-bottom: 4px
  border-bottom: 1px solid $borders
  .date-stamp
    font-size: 14px

.post-date
  font-size: 14px

.post-body
  margin-top: 12px
