$blueprint-grid-columns: 12
$blueprint-container-size: 840px
$blueprint-grid-margin: 10px
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin

@import "blueprint"
@import "blueprint/reset"
@import "blueprint/grid"

body
  font-family: Helvetica, sans-serif
  font-size: 16px

  p
    margin: 0px 0px 10px 0px

h1
  font-weight: bold
  font-size: 24px

h2
  font-size: 18px
  font-weight: bold
  margin-bottom: 8px

blockquote
  margin: 0px 8px 0px 8px
  padding: 8px
  background-color: #eee
  font-style: italic

ul
  padding-left: 18px

.post-date
  font-size: 14px

.post-body
  margin-top: 8px

.container
  @include container

  #header
    @include column(12)
    @include blueprint-debug('/images/grid.png')
    font-size: 32px
    font-weight: bold
    padding: 12px 0px 12px 0px
    text-align: right
    border-bottom: 1px solid #ccc
    margin-bottom: 10px

    a
      color: #000
      &:visited
        color: #000

  #content
    @include column(8)

  #sidebar
    @include column(4, true)

  #footer
    font-size: 12px
    text-align: center
    border-top: 1px solid #ccc
    margin: 6px 0px 0px 0px
    padding: 6px 0px 0px 0px
    @include column(12)
